## 순차 코딩 게임

아래 코드를 순차적으로 완성하세요.

In [2]:
import urllib.request
import pandas as pd

이 [링크](https://archive.ics.uci.edu/ml/machine-learning-databases/tae/)에서 데이터를 다운로드하고 ./data에 저장하세요!

In [7]:
urllib.request.urlretrieve("https://archive.ics.uci.edu/ml/machine-learning-databases/tae/tae.data", 'tae.data')

('tae.data', <http.client.HTTPMessage at 0x16b19d119d0>)

Pandas를 사용하여 데이터 프레임으로 읽고 tae라는 변수에 할당합니다.

In [9]:
tae = pd.read_csv('tae.data', header = None)
tae.head()

   0   1   2  3   4  5
0  1  23   3  1  19  3
1  2  15   3  1  17  3
2  1  23   3  2  49  3
3  1   5   2  2  33  3
4  2   7  11  2  55  3

데이터 프레임에 헤더 정보를 포함하세요.

In [24]:
names = ["Native_English_Speaker", "Course_Instructor","Course","Semester" ,"Class_Size" ,"Class_Attribute"]
print(names)

['Native_English_Speaker', 'Course_Instructor', 'Course', 'Semester', 'Class_Size', 'Class_Attribute']

In [25]:
# Your code here
tae.columns = names

데이터 프레임의 상위 5개 행을 출력합니다.

In [26]:
# Your code here

tae.head(5)

,Native_English_Speaker,Course_Instructor,Course,Semester,Class_Size,Class_Attribute
0,1,23,3,1,19,3
1,2,15,3,1,17,3
2,1,23,3,2,49,3
3,1,5,2,2,33,3
4,2,7,11,2,55,3

나열된 여러 변수에 대하여 범주형인지 숫자형인지 답하세요.

   1. TA가 영어 원어민인지 여부: # Your answer
   2. Course instructor: # Your answer
   3. Course: # Your answer
   4. Summer or regular semester: # Your answer
   5. Class size: # Your answer
   6. Class attribute: # Your answer

데이터세트에 대한 기본 정보(행 및 열 수, 데이터 유형, 결측값 수 및 기본 통계)를 얻습니다.

In [21]:
# Your code here

tae.info()
print('- '*20)
tae.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Native_English_Speaker  151 non-null    int64
 1   Course_Instructor       151 non-null    int64
 2   Course                  151 non-null    int64
 3   Semester                151 non-null    int64
 4   Class_Size              151 non-null    int64
 5   Class_Attribute         151 non-null    int64
dtypes: int64(6)
memory usage: 7.2 KB
- - - - - - - - - - - - - - - - - - - -

,Native_English_Speaker,Course_Instructor,Course,Semester,Class_Size,Class_Attribute
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,1.807947,13.642384,8.105960,1.847682,27.867550,2.019868
std,0.395225,6.825779,7.023914,0.360525,12.893758,0.820327
min,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000
25%,2.000000,8.000000,3.000000,2.000000,19.000000,1.000000
50%,2.000000,13.000000,4.000000,2.000000,27.000000,2.000000
75%,2.000000,20.000000,15.000000,2.000000,37.000000,3.000000
max,2.000000,25.000000,26.000000,2.000000,66.000000,3.000000

In [20]:
for name in names :
    print(name, ":" , tae[name].unique())

Native_English_Speaker : [1 2]
Course_Instructor : [23 15  5  7  9 10 22 13 18  6 25  2  1  8 14 21 11 16  4 17 20 12 24  3
 19]
Course : [ 3  2 11  5 22  1 21 17 25  7  9 15 13  8 16 19 14  6 12 18 23 26 24 20
  4 10]
Semester : [1 2]
Class_Size : [19 17 49 33 55 20 27 58  9 30 29 39 42 43 10 46 23 31 22 37 13 24 38 28
 51 36 21 48 25 11 45 18 14 35 15 32 34 66 12  3  7 54 16 44  5 26]
Class_Attribute : [3 2 1]

행운을 빕니다!!!