## 순차 코딩 게임

아래 코드를 순차적으로 완성하세요.

In [1]:
import urllib.request
import pandas as pd

이 [링크](https://archive.ics.uci.edu/ml/machine-learning-databases/tae/)에서 데이터를 다운로드하고 ./data에 저장하세요!

In [2]:
urllib.request.urlretrieve("https://archive.ics.uci.edu/ml/machine-learning-databases/tae/tae.data", 'tae.data')

('tae.data', <http.client.HTTPMessage at 0x1ada6935e50>)

Pandas를 사용하여 데이터 프레임으로 읽고 tae라는 변수에 할당합니다.

In [3]:
tae = pd.read_csv('tae.data',header=None)
tae.head()

   0   1   2  3   4  5
0  1  23   3  1  19  3
1  2  15   3  1  17  3
2  1  23   3  2  49  3
3  1   5   2  2  33  3
4  2   7  11  2  55  3

데이터 프레임에 헤더 정보를 포함하세요.

In [16]:
names = ["Native_English_Speaker", "Course_Instructor","Course","Semester" ,"Class_Size" ,"Class_Attribute"]

In [17]:
tae.columns = names

데이터 프레임의 상위 5개 행을 출력합니다.

In [18]:
tae.head(5)

,Native_English_Speaker,Course_Instructor,Course,Semester,Class_Size,Class_Attribute
0,1,23,3,1,19,3
1,2,15,3,1,17,3
2,1,23,3,2,49,3
3,1,5,2,2,33,3
4,2,7,11,2,55,3

나열된 여러 변수에 대하여 범주형인지 숫자형인지 답하세요.

   1. TA가 영어 원어민인지 여부: # Your answer
   2. Course instructor: # Your answer
   3. Course: # Your answer
   4. Summer or regular semester: # Your answer
   5. Class size: # Your answer
   6. Class attribute: # Your answer

데이터세트에 대한 기본 정보(행 및 열 수, 데이터 유형, 결측값 수 및 기본 통계)를 얻습니다.

In [11]:
tae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Native_English_Speaker  150 non-null    int64
 1   Course_Instructor       150 non-null    int64
 2   Course                  150 non-null    int64
 3   Semester                150 non-null    int64
 4   Class_Size              150 non-null    int64
 5   Class_Attribute         150 non-null    int64
dtypes: int64(6)
memory usage: 7.2 KB

행운을 빕니다!!!

In [12]:
tae.describe()

,Native_English_Speaker,Course_Instructor,Course,Semester,Class_Size,Class_Attribute
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,1.813333,13.580000,8.140000,1.853333,27.926667,2.013333
std,0.390949,6.805318,7.034937,0.354958,12.916405,0.819123
min,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000
25%,2.000000,8.000000,3.000000,2.000000,19.000000,1.000000
50%,2.000000,13.000000,4.500000,2.000000,27.000000,2.000000
75%,2.000000,20.000000,15.000000,2.000000,37.000000,3.000000
max,2.000000,25.000000,26.000000,2.000000,66.000000,3.000000